.board-item.task {border-left: 0px solid #ccc; border-left-width: 4px\0; box-shadow: inset 4px 0 0 #ccc; padding-left: 14px; padding-left: 10px\0;}
.board-item.task.task-pri-1 {border-left-color: #d2322d; box-shadow:inset 4px 0 0 #d2322d;}
.board-item.task.task-pri-2 {border-left-color: #ea8400; box-shadow:inset 4px 0 0 #ea8400;}
.board-item.task.task-pri-3 {border-left-color: #8521bf; box-shadow:inset 4px 0 0 #8521bf;}
.board-item.task.task-pri-4 {border-left-color: #39b3d7; box-shadow:inset 4px 0 0 #39b3d7;}
.task-actions {margin: 5px -10px -6px -14px; margin-left: -10px\0; background: #fafafa; border-left: 1px solid #ddd; border-top: 0 solid #ddd; transition: all .5s .5s cubic-bezier(.175, .885, .32, 1); height: 0; overflow: hidden;}
.task:hover .task-actions {padding: 5px 10px; height: 30px; border-top-width: 1px}
