.panel-body>.comments-list {margin: -15px -15px 0;}
.comment{padding: 10px 15px; transition: all 0.5s;}
.comment p{padding-left:3px;}
.comment>.comments-list {margin-top: 5px; margin-left: 18px; padding-left: 25px;}
.comment>.comment {padding:0 8px;border-bottom:none;}
.comment:hover {background-color: #fafafa;}
.comment>.comments-list>.comment:hover {background-color: #fff}
.comment .reply-box{margin-bottom:5px;margin-top:5px;border: 1px solid #DDDDDD;padding:10px;border-radius:3px;background:#F8F8F8;}
.pager {margin: 0; display: block;}
.pager>.page {margin-bottom: -15px; text-align: right;}

label.checkbox{margin: 0; line-height: 20px}
label.checkbox input{margin-top: 5px;}
